
@{
    ViewBag.Title = "AddQuestion";
}

<h2>AddQuestion</h2>

List of all the questions

<form action="/Make/ConfirmQuestion" method="post">
    Question: <input type="text" name="question"/>
    <input type="hidden" name="currentQuizTitleID" value="@Model"/>
    <button type="submit">SAVE QUESTION</button>
</form>

<form action="/Make/AddCategory">
    <button type="submit">DONE MAKING QUESTIONS</button>
</form>
