
@{
    ViewBag.Title = "AddQuizTitle";
}

<form method="post" action="/Make/ConfirmQuizTitle">
    Quiz Title: <input type="text" name="title" />
    <button type="submit">ADD QUIZ</button>
</form>

