@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BuzzFeedAndy</h1>
    <p class="lead">This app is a BuzzFeed clone.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Make/AddQuizTitle">MAKE A QUIZ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Take/Index">TAKE A QUIZ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/View/Index">VIEW PAST RESULTS &raquo;</a></p>
    </div>
</div>